In [33]:
# import SQL Alchemy
from sqlalchemy import create_engine

# Import and establesh BAse for which classes will be constructed
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.exc import IntegrityError
from sqlalchemy.ext.automap import automap_base

# Import modules to declare columns and column data type
from sqlalchemy import Column, Integer, String

# Import Session to push objects made and query the server.
from sqlalchemy.orm import Session

import pandas as pd

In [34]:
# Create Accident Class
class Accident(Base):
    __tablename__ = "accidents"
    id = Column(Integer,primary_key=True)
    case_num = Column(Integer)
    veh_num = Column(Integer)
    region = Column(String)
    region_num = Column(Integer)
    month = Column(String)
    hour = Column(String)
    make = Column(String)
    passenger_inj = Column(String)
    num_injured = Column(Integer)
    alcohol_involved = Column(String)
    road_condition = Column(String)
    veh_damage = Column(String)

In [35]:
# Create and establish Database Connection
engine = create_engine("sqlite:///accidents.sqlite")
conn = engine.connect()

# Create Accident table within the database
Base.metadata.create_all(conn)

In [36]:
# Create Session to push the objects made and query the server.
session = Session(bind=engine)

# Reading CSV File

In [37]:
path = "Resources/final_merge.csv"
data = pd.read_csv(path)
data_df = pd.DataFrame(data)
data_df.head()

,Unnamed: 0,CASENUM,VEH_NO_x,REGIONNAME_x,REGION_x,HOURNAME_x,MONTHNAME_x,MAKENAME_x,MAX_SEVNAME,NUM_INJV,VEH_ALCHNAME,VSURCONDNAME
0,0,201901174219,1,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",3,8:00am-8:59am,January,Ford,No Apparent Injury (O),0,No Alcohol Involved,Wet
1,1,201901176655,1,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",3,2:00am-2:59am,January,Dodge,Possible Injury (C),1,Reported as Unknown,Dry
2,13,201901176667,1,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",3,5:00am-5:59am,January,Nissan/Datsun,Suspected Minor Injury (B),1,Alcohol Involved,Dry
3,17,201901176694,1,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",3,4:00am-4:59am,January,Mazda,No Apparent Injury (O),0,No Alcohol Involved,Dry
4,18,201901176702,1,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",3,9:00am-9:59am,January,Toyota,Possible Injury (C),0,No Alcohol Involved,Dry

In [38]:
regions = data_df['REGIONNAME_x'].unique()
regions

array(['South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA, FL, AL, MS, LA, AR, OK, TX)',
       'West (MT, ID, WA, OR, CA, NV, NM, AZ, UT, CO, WY, AK, HI)',
       'Midwest (OH, IN, IL, MI, WI, MN, ND, SD, NE, IA, MO, KS)',
       'Northeast (PA, NJ, NY, NH, VT, RI, MA, ME, CT)'], dtype=object)

In [40]:
# Clean RegionName of the list of states for each region
region_name = data_df['REGIONNAME_x']
for i in range(len(data_df['REGIONNAME_x'])):
    row = data_df['REGIONNAME_x'][i]
    if row == regions[0]:
        region_name[i] = "South"
    elif row == regions[1]:
        region_name[i] = "West"
    elif row == regions[2]:
        region_name[i] = "Mid West"
    elif row == regions[3]:
        region_name[i] = "North East"
region_name.unique()

array(['South', 'West', 'Mid West', 'North East'], dtype=object)

In [41]:
# Assessing the region_name to the correct column in the DataFrame
data_df['REGIONNAME_x'] = region_name
data_df['REGIONNAME_x'].unique()

array(['South', 'West', 'Mid West', 'North East'], dtype=object)

In [42]:
data_df.dtypes

Unnamed: 0       int64
CASENUM          int64
VEH_NO_x         int64
REGIONNAME_x    object
REGION_x         int64
HOURNAME_x      object
MONTHNAME_x     object
MAKENAME_x      object
MAX_SEVNAME     object
NUM_INJV         int64
VEH_ALCHNAME    object
VSURCONDNAME    object
dtype: object

In [43]:
for column in data.columns:
    print({column: data[column].unique()})

{'Unnamed: 0': array([     0,      1,     13, ..., 166498, 166499, 166503])}
{'CASENUM': array([201901174219, 201901176655, 201901176667, ..., 201901848683,
       201901848693, 201901848697])}
{'VEH_NO_x': array([1, 2, 3, 4])}
{'REGIONNAME_x': array(['South', 'West', 'Mid West', 'North East'], dtype=object)}
{'REGION_x': array([3, 4, 2, 1])}
{'HOURNAME_x': array(['8:00am-8:59am', '2:00am-2:59am', '5:00am-5:59am', '4:00am-4:59am',
       '9:00am-9:59am', '7:00pm-7:59pm', '12:00pm-12:59pm',
       '6:00am-6:59am', '10:00am-10:59am', '11:00am-11:59am',
       '1:00am-1:59am', '1:00pm-1:59pm', '6:00pm-6:59pm', '3:00pm-3:59pm',
       '10:00pm-10:59pm', '2:00pm-2:59pm', '5:00pm-5:59pm',
       'Unknown Hours', '3:00am-3:59am', '4:00pm-4:59pm', '7:00am-7:59am',
       '8:00pm-8:59pm', '11:00pm-11:59pm', '9:00pm-9:59pm',
       '0:00am-0:59am'], dtype=object)}
{'MONTHNAME_x': array(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September'], dtype=object)}
{'MAKENAME_x': array(['Ford', 'Dodge', 'Nissan/Datsun', 'Mazda', 'Toyota', 'Volvo',
       'Chevrolet', 'Jeep / Kaiser-Jeep / Willys- Jeep', 'Infiniti',
       'Acura', 'Volkswagen', 'Peterbilt', 'Honda', 'Unknown Make',
       'Lexus', 'Freightliner', 'Mercury', 'Chrysler', 'Buick / Opel',
       'Suzuki', 'Subaru', 'Mack', 'AM General', 'Pontiac', 'KIA', 'GMC',
       'Land Rover', 'Hyundai', 'Lincoln', 'BMW', 'Mitsubishi',
       'Cadillac', 'Oldsmobile', 'Mercedes-Benz',
       'International Harvester/Navistar', 'Kawasaki', 'Fiat',
       'Not Reported', 'Other Make', 'Harley-Davidson', 'Other Import',
       'Kenworth', 'Isuzu', 'Audi', 'Saturn', 'Gillig', 'Smart',
       'Bluebird', 'Yamaha', 'Thomas Built', 'Scion',
       'Other Domestic Manufacturers', 'MCI', 'Jaguar', 'Ducati', 'Saab',
       'Porsche', 'Plymouth', 'Triumph', 'Victory',
       'White/Autocar White/GMC', 'Grumman', 'Alfa Romeo',
       'American Motors'], dtype=object)}
{'MAX_SEVNAME': array(['No Apparent Injury (O)', 'Possible Injury (C)',
       'Suspected Minor Injury (B)', 'Suspected Serious Injury (A)',
       'Fatal Injury (K)', 'Died Prior to Crash*', 'Unknown/Not Reported',
       'Injured, Severity Unknown'], dtype=object)}
{'NUM_INJV': array([ 0,  1, 99,  2,  6,  3,  7, 98,  5,  4,  8])}
{'VEH_ALCHNAME': array(['No Alcohol Involved', 'Reported as Unknown', 'Alcohol Involved',
       'No Driver Present'], dtype=object)}
{'VSURCONDNAME': array(['Wet', 'Dry', 'Non-Trafficway or Driveway Access', 'Ice/Frost',
       'Not Reported', 'Reported as Unknown', 'Snow', 'Slush',
       'Mud, Dirt or Gravel', 'Water (Standing or Moving)', 'Other',
       'Sand', 'Oil'], dtype=object)}

# From DataFrame to Database

In [44]:
for i in range(len(data_df.index)):
    
    # Create instance of the accident
    accident = Accident(
    id = i,
    case_num = int(data_df['CASENUM'][i]),
    veh_num = int(data_df['VEH_NO_x'][i]),
    region = data_df['REGIONNAME_x'][i],
    region_num = int(data_df['REGION_x'][i]),
    month = data_df['MONTHNAME_x'][i],
    hour = data_df['HOURNAME_x'][i],
    make = data_df['MAKENAME_x'][i],
    passenger_inj = data_df['MAX_SEVNAME'][i],
    num_injured = int(data_df['NUM_INJV'][i]),
    alcohol_involved = data_df['VEH_ALCHNAME'][i],
    road_condition = data_df['VSURCONDNAME'][i],)
    
    # Add accident 'i' to the Database
    session.add(accident)

In [50]:
    # commit object to the Database
    try:
        session.commit()
    except exc.InternalError:
        session.rollback()
        session.commit()
    except:
        session.rollback()
        raise
    finally:
        session.close()